body {
	  background-color: #E4E4E4;
	  color: black;
	  margin-top: 100px;
		margin-right: 40px;
		margin-bottom: 100px;
		margin-left: 70px;
		font-family: "Courier New", Courier, monospace;
	}

h1 {
		color: #EFEFEF;
		background-color: #505050;
		letter-spacing: 5px;
		font-weight:normal;
	}

#c1-1 {
		text-align: right;
	}

p {
	margin: 5px 50px 5px 50px;
}

/*setting for all the links*/
a {
	color:black;
}
a:hover {
		letter-spacing: 10px;
		font-weight:bold;
		color:yellow;
	}

/*setting for the link home, classe home*/
a.home {
		color:white;
		/*border-bottom:1px dotted;*/
		text-decoration: none;
}
a.home:hover {
	letter-spacing: 10px;
	color:red;
	font-weight:normal;
}


div.box {
		width: 200px;
		border: 1px solid black;

	}

	div.code {
    text-indent: 100px;
}
