body {
	  background-color: #E4E4E4;
	  font-family: helvetica;
	  color: black;
	}

h1 {
		color: #EFEFEF;
		background-color: #505050;
		letter-spacing: 10px;
		font-weight:bold;
	}



a {
	color:black;
}

a:hover {
		letter-spacing: 10px;
		font-weight:bold;
		color:red;
	}

